.flash-card-answer,
.selected-answer {
	outline: solid 2px rgb(56, 70, 79);
	width: 10vw;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
}

.flash-card-answer:hover {
	background: rgb(15, 27, 45);
}


.selected-answer {
	outline: solid 2px #3f85a7;
	background: rgba(63, 133, 167, 0.1);
}